{% load static %}
{% load my_tags %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    {% include '../includes/head.html' %}
    <a href="{%url 'blog:home' %}" class="btn btn-secondary my-2">Вернуться назад</a>
</head>

<body>
{% include '../includes/light_button.html' %}

<div class="d-flex justify-content-center align-items-center min-vh-100 card mx-auto" style="width: 80rem;">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="card-body" >
        <img src="{{ info.preview | media_filter }}"
        class="img-fluid mb-5" style="max-height: 400px; width: auto; margin: 0 auto; display: block;">
        <a class="card-text" style="font-weight: 500; word-wrap: break-word;" href="{%url 'blog:info_post' info.pk %}">{{ info.title }}</a>
        <p style="font-weight: 100;">{{ info.content}}</p>
        <p>
            <a href="{% url 'blog:update_post' info.pk %}" class="btn btn-warning my-2">Редактировать</a>
            <a href="{%url 'blog:delete_post' info.pk %}" class="btn btn-danger my-2">Удалить</a>
        </p>
        <div style="display: grid; grid-template-columns: auto auto; justify-content: space-between;">
            <small class="text-body-secondary">опубликовано: {{ info.creation_date|date:"d.m.Y" }}</small>
            <small class="text-body-secondary">{{ info.number_of_views }} просмотров</small>
        </div>
    </div>
    </form>
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
